@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
body {
  @apply text-light-text_primary;
  @apply bg-light-background;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.layout-container {
  @apply max-w-screen-2xl mx-auto w-full px-4;
}

.chat-textarea::-webkit-scrollbar,
.chat-scrollbar::-webkit-scrollbar {
  width: 10px;
  margin-left: 5px;
}

.chat-textarea::-webkit-scrollbar-thumb,
.chat-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.chat-textarea::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.chat-textarea::-webkit-scrollbar-track {
  background: transparent;
}

.chat-textarea::-webkit-scrollbar-button {
  display: none;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 450ms;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.button-fn {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 33%;
  border: 2.5px solid #e4ebf3;
  padding: 1rem 0.5rem;
  transition: all 0.2s linear;
}

.button-fn:hover {
  border-color: rgba(11, 47, 97, 0.47);
}

.custom-tooltip {
  padding: 0.5rem;
  @apply bg-light-primary_darker;
  font-size: 1rem;
}

.quiz-wrapper {
  width: 100%;
}

.chat-height {
  height: calc(100% - 80px);
}

@media screen and (max-width: 768px) {
  .quiz-wrapper {
    width: 95%;
  }
}

.chat-textarea::-webkit-scrollbar,
.chat-window::-webkit-scrollbar {
  width: 10px;
  margin-left: 5px;
}

.chat-textarea::-webkit-scrollbar-thumb,
.chat-window::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.chat-textarea::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.chat-textarea::-webkit-scrollbar-track {
  background: transparent;
}

.chat-textarea::-webkit-scrollbar-button {
  display: none;
}

.text-foreground {
  text-align: center;
}

.text-small {
  text-align: center;
  padding-top: 5px;
}
