@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-light-text_primary;
  @apply bg-light-background;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.chat-screen-height {
  height: calc(100vh - 55px);
}

.max-chat-screen-height {
  max-height: calc(100vh - 115px);
}

.chat-layout-container {
  @apply max-w-screen-md mx-auto w-full p-4 py-5 sm:p-0;
}
